.row
  .col.m12
    .alert._warning
      span The faucet has been drained.

  .col.m12
    p Please visit other faucets.
    ul
      li: a(href="http://tomotomo9696.xyz/nem/faucet/" target="_blank") NEM TESTNET faucet〜てすとねっと蛇口〜
      li: a(href="http://namuyan.dip.jp/nem/testnet/" target="_blank") NEM testnet Faucet

    p Or you can request XEM on the thread.
    ul
      li: a(href="https://forum.nem.io/t/paste-you-address-here-for-beta-nem-testnet-xem/829" target="_blank") Paste you address here for beta NEM (Testnet XEM) - Technical Discussion - NEM Forum

    p Could you send XEM to faucet address if you have too much?
